@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,100;1,300;1,400;1,600;1,700&display=swap');

:root {
    --red: red;
    --green: #4caf50;
    --blue: #42a5f5;

    --black: #000000;
    --text-white: #ffffff;
    --text-grey: #666;
    --background-grey: #f4f4f4;

    --primary-font: 'Lato', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
}